name: Build and Deploy to Azure Container Apps

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name cloudlogacr123

      - name: Build log-api
        run: |
          docker build -t cloudlogacr123.azurecr.io/log-api:latest ./log-api

      - name: Build log-worker
        run: |
          docker build -t cloudlogacr123.azurecr.io/log-worker:latest ./log-worker

      - name: Push Images
        run: |
          docker push cloudlogacr123.azurecr.io/log-api:latest
          docker push cloudlogacr123.azurecr.io/log-worker:latest

      # ⭐⭐ STEP: Configure registry for ACR pulls ⭐⭐
      - name: Configure Container Apps registry
        run: |
          USER=$(az acr credential show -n cloudlogacr123 --query username -o tsv)
          PASS=$(az acr credential show -n cloudlogacr123 --query passwords[0].value -o tsv)

          az containerapp registry set \
            --name log-api \
            --resource-group cloudlog-rg \
            --server cloudlogacr123.azurecr.io \
            --username $USER \
            --password $PASS

          az containerapp registry set \
            --name log-worker \
            --resource-group cloudlog-rg \
            --server cloudlogacr123.azurecr.io \
            --username $USER \
            --password $PASS

      # ⭐⭐ DEPLOY log-api ⭐⭐
      - name: Deploy log-api
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: log-api
          resourceGroup: cloudlog-rg
          environmentId: /subscriptions/802b8980-ee21-4f04-9652-10d4e72375f0/resourceGroups/cloudlog-rg/providers/Microsoft.App/managedEnvironments/cloudlog-env
          imageToDeploy: cloudlogacr123.azurecr.io/log-api:latest

      # ⭐⭐ DEPLOY log-worker ⭐⭐
      - name: Deploy log-worker
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: log-worker
          resourceGroup: cloudlog-rg
          environmentId: /subscriptions/802b8980-ee21-4f04-9652-10d4e72375f0/resourceGroups/cloudlog-rg/providers/Microsoft.App/managedEnvironments/cloudlog-env
          imageToDeploy: cloudlogacr123.azurecr.io/log-worker:latest
